/* nach Ben Henick:Das Beste an HTML & CSS, O'Reilly 2010 */
/* Seite 85 */
html, body {
	margin: 0;
	padding: 0;
}
/* Seite ? */
body {
//	background-image: url(/images/bg_site.jpg);
	background-attachment: fixed;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	color: rgb(64,64,64);
	font-family: Georgia,Palatino,'Times New Roman',serif;
	font-size: small;
	line-height: 1.923em;
}

/* Seite 92 */
/* overflow: visible sorgt dafür, dass der horizontale Scrollbalken bis zum ***
 * rechten Rand schieben kann, also nichts abgeschnitten wird               ***/
#hauptteil { height: 1%; overflow: visible; }
#hauptteil, #kopfteil, #fussteil { width: 100%; margin: 2%; }
#haupttext { float: right; width: 80%; }
#seitenleiste { margin-right: 1%; }

/* basis elemente */
table  { margin-left: 1px; border: 1px solid #000; }
td, th { padding: 5px; }
tbody th { text-align: right; }
thead th { vertical-align: bottom; }
tfoot th { vertical-align: top; }
thead th, tfoot th { text-align: left; }

thead th[rowspan]:first-child,
tfoot th[rowspan]:first-child {
  text-align: right;
}

/* navigation Seite 72, 106 */
/* overflow: auto schneidet zu lange Menuetexte ab */
.main #nav { display: block; width: 10em; overflow:visible; }
/* navigation Seite 123     */
ul { margin-left: 0.5em; padding-left:0; }
li { /*display:inline;*/ list-style-type: none; }

/* Seite 223 */
h1 { font-size: xx-large; }

/* Formular-Layout Seite 259 - 260 */

form, form ul, form li, fieldset, textarea { margin: 0; padding: 0; }
//label, input, select, textarea, form li span { display: block; }
form ul, form li { list-style-type: none; }
form li { clear: both; height: 1%; overflow: auto; }
//fieldset { border: 0; }

/* Beschriftungen links neben den Formularfeldern */
label, form li span { float: left; width: 9em; padding-right: 1em; }
#submit { float: right; margin-left: 10em; }
//input, select, textarea { float: right; margin-left: 10em; }
//fieldset label, fieldset input { float: left; }
//fieldset label { clear: left; width: 4.25em; padding-right: .75em; }
//fieldset input { margin-left: 5em; margin-right: 1.5em; }

/* Beschriftungen und Formularfelder zusätzlich an einer gemeinsamen Achse ausrichten */
//label, form li span { text-align: right; }

/* Mehrspaltige Anordnung von Paaren aus label- und Formularelementen */
//form { height: 1%; overflow: auto; }
//form ul { float: left; width: 75%; margin-right: 5%; }